In [ ]:
import pandas as pd

df = pd.read_csv('credit.csv')
print(df)

# print(df['나이'].mean()) 
# print(df['나이'].mode()) # 최빈값
# print(df['나이'].max()) 
# print(df['나이'].min())
# print(df['나이'].describe())

     나이 성별           학력       기혼              소득  사용금액  사용횟수
0    45  M  High School  Married     $60K - $80K  1144    42
1    49  F     Graduate   Single  Less than $40K  1291    33
2    51  M     Graduate  Married    $80K - $120K  1887    20
3    40  F  High School  Unknown  Less than $40K  1171    20
4    40  M   Uneducated  Married     $60K - $80K   816    28
..   .. ..          ...      ...             ...   ...   ...
195  47  F  High School  Married  Less than $40K  1002    22
196  41  M  High School  Unknown         $120K +  1344    21
197  53  M   Uneducated  Married    $80K - $120K  1461    42
198  68  M  High School  Married  Less than $40K   760    21
199  44  F     Graduate  Married    $80K - $120K  1316    25

[200 rows x 7 columns]

In [ ]:
df.groupby('성별').mean() # 카테고리화

           나이         사용금액       사용횟수
성별
F   49.910256  1320.115385  27.910256
M   49.983607  1352.368852  28.868852

In [ ]:
df[['나이','사용금액']].corr() # 여러개 넣을꺼면 리스트형태

            나이      사용금액
나이    1.000000  0.106826
사용금액  0.106826  1.000000

In [ ]:
# 원하는 데이터만 필터주기

# df[ df['나이'] > 50 ]
df.query(" 나이 >50 and 기혼 == 'Married' ")

     나이 성별             학력       기혼              소득  사용금액  사용횟수
2    51  M       Graduate  Married    $80K - $120K  1887    20
6    51  M        Unknown  Married         $120K +  1330    31
11   65  M        Unknown  Married     $40K - $60K  1314    26
14   57  F       Graduate  Married  Less than $40K  1570    29
18   61  M    High School  Married     $40K - $60K  1336    30
..   .. ..            ...      ...             ...   ...   ...
192  57  F       Graduate  Married  Less than $40K  1771    37
193  54  M      Doctorate  Married         $120K +  1873    52
194  51  F  Post-Graduate  Married  Less than $40K  1679    42
197  53  M     Uneducated  Married    $80K - $120K  1461    42
198  68  M    High School  Married  Less than $40K   760    21

[65 rows x 7 columns]

In [ ]:
셔츠 = [15,20,25]
바지 = [150,160,170]

딕셔너리 = {
    '셔츠' : [15,20,25],
    '바지' : [150,160,170],
}

df2 = pd.DataFrame(딕셔너리)
df2

   셔츠   바지
0  15  150
1  20  160
2  25  170

In [ ]:
# 남자고 결혼한 사람은 사용금액이 평균적으로 높음?
df.query('성별 == "M" and 기혼 == "Married" ').mean()
df.query('성별 == "M" and 기혼 == "Single" ').mean()

# 연간 소득이 많을수록 신용카드 사용금액이 평균적으로 높음?

df.groupby('소득').mean()

                       나이         사용금액       사용횟수
소득
$120K +         51.318182  1282.636364  29.227273
$40K - $60K     50.392857  1319.071429  27.785714
$60K - $80K     47.324324  1384.972973  29.513514
$80K - $120K    49.977778  1357.555556  28.511111
Less than $40K  51.058824  1339.941176  28.823529
Unknown         49.823529  1302.058824  25.470588

In [ ]:
import pandas as pd

raw = pd.read_excel('product.xlsx',engine="openpyxl")

raw['부가세포함'] = raw['판매가'] * 1.1

def 함수(n) :
  n = n *1.1
  return n

raw['실제가격']= raw['판매가'].apply(함수) # 특정 컬럼에 있는 모든 데이터를 함수에 넣었다가 뺴줌
raw

import re # 정규식라이브러리
re.search('abc','abcdef')
def 카테고리함수(n):
  if re.search('Chair',str(n)):
    return "Chair"
  if re.search('Table',str(n)):
    return "Table"


raw['카테고리'] = raw['상품목록'].apply(카테고리함수)
raw

           날짜    판매가                  상품목록   카테고리    부가세포함     실제가격
0  2022-01-25  67000      7102 Metal Chair  Chair  73700.0  73700.0
1  2022-01-26  69000      7103 Brass Chair  Chair  75900.0  75900.0
2  2022-01-27  69000      7103 Brass Chair  Chair  75900.0  75900.0
3  2022-01-28  69000     7103 Brass Chair   Chair  75900.0  75900.0
4  2022-01-29  45000  Post Modern Table 34  Table  49500.0  49500.0
5  2022-01-30  32000       Wooden Table 34  Table  35200.0  35200.0
6  2022-01-31  33000       Wooden Table 36  Table  36300.0  36300.0
7  2022-02-01  32000        Glass Table 32  Table  35200.0  35200.0
8  2022-02-02  59000      Long Red Mirror    None  64900.0  64900.0
9  2022-02-03  59000       Long Red Mirror   None  64900.0  64900.0
10 2022-02-04  58000     Shimmering Mirror   None  63800.0  63800.0
11 2022-02-05  88000       Blue Frame Sofa   None  96800.0  96800.0
12 2022-02-06  88000       Blue Frame Sofa   None  96800.0  96800.0
13 2022-02-07  88000       Blue Frame Sofa   None  96800.0  96800.0
14 2022-02-08  88000  Leather Cushion Sofa   None  96800.0  96800.0
15 2022-02-08  41000             222335555   None  45100.0  45100.0

In [1]:
# 정규식( 문자를 검사하는 식 )

import re

re.search('정규식','안녕하세요 정규식') # 있으면 Object 자료형 뱉어줌 없으면 None

a = re.findall('\$','abcde$fg') # findall있으면 전부 리스트에 담아줌 ^시작문자 ,  끝나는문자$ , [이거저거]
a = re.findall('[가-힣ㄱ-ㅎ]','abAcde$fg하이ㅎㅎ') # [이거저거] 이거 or 저거 찾는거 [] 안에서 ^쓰면 not 임 \d하면 모든 숫자 \d\d 두자리 숫자 =  \d{2}  숫자가 아닌건 \D / \s 스페이스바 찾고 싶으면 \S 는 모든 문자
a = re.findall('[ㅋ+ abA]','abAcde$fg하이ㅎㅎㅋㅋㅋㅋㅋ',re.IGNORECASE) # 'ㅋ+' ㅋ 붙어있는거 다가지고옴 
# '2022-1-1'
b = re.sub('\-','.','2022-1-1') # .sub() =>이걸찾아서, 이걸로바꿔, 문장
b = re.sub('\d','','202020.20.20')
print(b)
print(a)

..
['a', 'b', 'A', 'ㅋ', 'ㅋ', 'ㅋ', 'ㅋ', 'ㅋ']

In [ ]:
# Q1. 이메일형식이 맞는지 판단하는 정규식을 만들어보십시오.
결과 = re.findall('\S+@\S+\.\S+','abc@example.com')
print(결과)

# 아무문자+ 여러번 찾고 @ 마침표 이런느낌

['abc@example.com']

In [ ]:
# Q2. 상품목록에 Mirror 또는 Sofa라는 영단어가 포함되어있으면 카테고리컬럼에 ‘가구’라고 기록하고 싶습니다. 
def 함수(n) :
  if re.search('Mirror|Sofa',f'{n}'): # 두개 찾고싶으면 | 인 or 사용
    return '가구'
  if re.search('Chair',str(n)):W
    return "Chair"
  if re.search('Table',str(n)):
    return "Table"
  if re.search("\d",str(n)):
    return "error"
raw['카테고리'] = raw['상품목록'].apply(함수)
raw

           날짜    판매가                  상품목록   카테고리    부가세포함     실제가격
0  2022-01-25  67000      7102 Metal Chair  Chair  73700.0  73700.0
1  2022-01-26  69000      7103 Brass Chair  Chair  75900.0  75900.0
2  2022-01-27  69000      7103 Brass Chair  Chair  75900.0  75900.0
3  2022-01-28  69000     7103 Brass Chair   Chair  75900.0  75900.0
4  2022-01-29  45000  Post Modern Table 34  Table  49500.0  49500.0
5  2022-01-30  32000       Wooden Table 34  Table  35200.0  35200.0
6  2022-01-31  33000       Wooden Table 36  Table  36300.0  36300.0
7  2022-02-01  32000        Glass Table 32  Table  35200.0  35200.0
8  2022-02-02  59000      Long Red Mirror      가구  64900.0  64900.0
9  2022-02-03  59000       Long Red Mirror     가구  64900.0  64900.0
10 2022-02-04  58000     Shimmering Mirror     가구  63800.0  63800.0
11 2022-02-05  88000       Blue Frame Sofa     가구  96800.0  96800.0
12 2022-02-06  88000       Blue Frame Sofa     가구  96800.0  96800.0
13 2022-02-07  88000       Blue Frame Sofa     가구  96800.0  96800.0
14 2022-02-08  88000  Leather Cushion Sofa     가구  96800.0  96800.0
15 2022-02-08  41000             222335555  error  45100.0  45100.0